/* Different options based on user screen size */
:root{
    --main-width:700px;
    --main-height:700px;
    --neg-margin:-14px;
}
.grid-main{
    display: grid;
    width:var(--main-width);
    height:var(--main-height);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.grid-hand{
    display: flex;
    justify-content: left;
    align-items: center;
}
.grid-hand-p3{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    writing-mode: vertical-rl;
}
.grid-hand-p2{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    transform: rotate(180deg);
}
.grid-hand-p1{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 5;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.grid-hand-p0{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
}
.grid-discard{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content:left;
    align-items:center;
}
.grid-discard-p3 {
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end:2;
    writing-mode: vertical-rl;
}
.grid-discard-p2 {
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start:3;
    grid-column-end:3;
    transform: rotate(180deg);
}
.grid-discard-p1 {
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:4;
    grid-column-end:4;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.grid-discard-p0 {
    grid-row-start:4;
    grid-row-end:4;
    grid-column-start:3;
    grid-column-end:3;
}
.rotate > img {
    transform: rotate(90deg);
    margin-bottom: var(--neg-margin);
}
.grid-hand > img {
    width:2em;
}
.grid-discard > img {
    width:2em;
}
