:root{
    --main-width: 750px;
    --main-height: 800px;
    --max-width: 1100px;

    /* blue-green, accents go darker */
    --color-main:   hsl(190, 100%, 25%);
    --color-accent: hsl(190, 100%, 19%);
    --color-accent3: hsl(190, 100%, 16%);
    --color-accent2: hsl(190, 100%, 13%);
    --color-hover: rgba(0, 0, 0, 0.7);
    --color-text:    hsla(190, 0%, 100%, 0.75);

    /* blue-green, accents go lighter */
    --color-main:   hsl(190, 100%, 8%);
    --color-accent: hsl(190, 100%, 16%);
    --color-accent3: hsl(190, 100%, 18%);
    --color-accent2: hsl(190, 100%, 20%);
    --color-hover: rgba(0, 0, 0, 0.3);
    --color-text:    hsla(190, 0%, 100%, 0.70);

    /* Analagous to main: -> green-yellow -> yellow */
    --color-bar-mortal: hsl(120, 81%, 34%);
    --color-bar-hero: hsl(70, 72%, 48%);
    /* Discard background */
    --color-tsumogiri: hsl(30, 70%, 80%);
    --opacity-called: 0.25;
}
body, .info-round-modal, .info-round-close, .info-this-round-modal, #about-modal {
    font-family: sans-serif;
    max-width: var(--max-width);
    margin: auto;
    color: var(--color-text);
    line-height: 1.5;
    background: var(--color-main);
}
.info-round-close {
    background: var(--color-accent2);
}
a {
    color: var(--color-text);
}
#about-modal {
    background: var(--color-accent2);
}
h1{
    background: var(--color-accent);
    text-align: center;
}
.outer {
    margin-top:20px;
    display:flex;
    justify-content: space-around;
}
.grid-main{
    flex-shrink: 0;
    display: grid;
    width:705px;
    height:755px;
    grid-template-columns: 13.5% 22.0% 29.1% 22.0% 13.5%;
    grid-template-rows: 12.6% 20.5% 27.1% 20.5% 19.2%;
    grid-template-areas: "ah-p3 ah-p2 ah-p2   ah-p2 ah-p2"
                         "ah-p3     . ad-p2   .     ah-p1"
                         "ah-p3 ad-p3 a-info  ad-p1 ah-p1"
                         "ah-p3 .     ad-p0   .     ah-p1"
                         "ah-p0 ah-p0 ah-p0   ah-p0 ah-p1";
}
.grid-hand {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-accent);
    align-items: center;
}
.grid-hand-p3{
    grid-area: ah-p3;
    flex-direction: column;
}
.grid-hand-p2{
    grid-area: ah-p2;
    flex-flow: row-reverse;
}
.grid-hand-p1{
    grid-area: ah-p1;
    flex-direction: column-reverse;
}
.grid-hand-p0-container{
    grid-area: ah-p0;
    background: var(--color-accent);
    padding-top: 20px;
}
.grid-hand-p0{
    padding-left: 10px;
}
.grid-hand-p1{
    padding-bottom: 10px;
}
.grid-hand-p2{
    padding-right: 10px;
}
.grid-hand-p3{
    padding-top: 10px;
}
.tileImg {
    width:30px;
    height:40px;
    background:white;
    border: 1px solid grey;
    padding: 1px;
}
.tileDiv { width:34px; height:44px; }
.pov-p1 > div { width:44px; height:34px; }
.pov-p3 > div { width:44px; height:34px; }
.pov-p1 > div { width:44px; height:34px; }
.pov-p3 > div { width:44px; height:34px; }
.pov-p0 > div:has(.rotate) { width:44px; height:34px; }
.pov-p1 > div:has(.rotate) { width:34px; height:44px; }
.pov-p2 > div:has(.rotate) { width:44px; height:34px; }
.pov-p3 > div:has(.rotate) { width:34px; height:44px; }
/* .pov-p0 > div > img  no transform needed */
.pov-p1 > div > img { transform: rotate(-90deg) translate(5px, 5px); }
.pov-p2 > div > img { transform: rotate(180deg); }
.pov-p3 > div > img { transform: rotate(90deg) translate(-5px, -5px); }
.pov-p0 > div > .rotate { transform: rotate(90deg) translate(0px, -5px); }
.pov-p1 > div > .rotate { transform: translate(5px, 0px); }
.pov-p2 > div > .rotate { transform: rotate(-90deg) translate(10px, 5px); }
.pov-p3 > div > .rotate { transform: translate(-5px, 0px); }
.pov-p0 > div > .float { transform: rotate(90deg) translate(0px, -5px) translate(-51px, 44px); }
.pov-p1 > div > .float { transform: translate(5px, 0px) translate(-51px, 0px);}
.pov-p2 > div > .float { transform: rotate(-90deg) translate(10px, 5px) translate(-17px, 0px)}
.pov-p3 > div > .float { transform: translate(-5px, 0px) translate(17px, -44px); }
.pov-p0 > div:has(.float) { width:0px; height: 0px;}
.pov-p1 > div:has(.float) { width:0px; height: 0px;}
.pov-p2 > div:has(.float) { width:0px; height: 0px;}
.pov-p3 > div:has(.float) { width:0px; height: 0px;}
.pov-p0 > div:has(.last-discard) { transform: translate(6px, 6px); }
.pov-p1 > div:has(.last-discard) { transform: translate(6px, -6px); }
.pov-p2 > div:has(.last-discard) { transform: translate(-6px, -6px); }
.pov-p3 > div:has(.last-discard) { transform: translate(-6px, 6px); }

.grid-discard{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.grid-discard-p3 {
    grid-area: ad-p3;
    height:360px;
    flex-flow: column wrap-reverse;
}
.grid-discard-p2 {
    grid-area: ad-p2;
    width:360px;
    justify-self:end;
    flex-flow: row-reverse wrap-reverse;
}
.grid-discard-p1 {
    grid-area: ad-p1;
    height:360px;
    align-self: end;
    flex-flow: column-reverse wrap;
}
.grid-discard-p0 {
    grid-area: ad-p0;
    width:360px;
}
.grid-info {
    grid-area: a-info;
    display: grid;
    border: 1px solid black;
    margin: auto;
    grid-template-columns: 30px 5px 130px 5px 30px;
    grid-template-rows: repeat(5, 40px);
    grid-template-areas:
      "ai-p3 ai-p2 ai-p2   ai-p2 ai-p2"
      "ai-p3 .    ai-round   .     ai-p1"
      "ai-p3 .    ai-sticks  .     ai-p1"
      "ai-p3 .    ai-doras   .     ai-p1"
      "ai-p0 ai-p0 ai-p0   ai-p0 ai-p1";
    background: var(--color-accent);
}
.info-round {
    grid-area: ai-round;
}
.info-sticks {
    grid-area: ai-sticks;
}
.info-doras {
    grid-area: ai-doras;
    display:flex;
    margin:auto;
}
.gi-p0-outer, .gi-p1-outer, .gi-p2-outer, .gi-p3-outer {
    display: flex;
    justify-content: space-between;
}
.gi-p0-outer {
    grid-area: ai-p0;
    margin: auto 10px;
}
.gi-p1-outer {
    grid-area: ai-p1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 10px auto;
}
.gi-p2-outer {
    grid-area: ai-p2;
    transform: rotate(180deg);
    margin: auto 10px;
}
.gi-p3-outer {
    grid-area: ai-p3;
    writing-mode: vertical-rl;
    margin: 10px auto;
}
.rotate > img {
    transform: rotate(99deg);
    /* Adjust so these rotated tiles are next to each other */
}
.tsumogiri {
    background:var(--color-tsumogiri);
}
.called {
    opacity:var(--opacity-called);
}
.info-doras > * > * {
    width:20px;
    height:26.6px;
}
.info-doras > * {
    width:24px;
    height:30.6px;
}
.discard-bars {
    display: grid;
    grid-template-columns: 1fr;
    height:62px;
}
.sidebar {
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.controls {
    display:grid;
    grid-template-columns: repeat(2, 120px);
    padding:10px;
    background:var(--color-accent);
}
.controls > * {
    margin:2px;
    padding:12px;
    background: var(--color-accent2);
    color:var(--color-text);
    border-color:black;
    border-width:2px;
}

.info-round {
    background: var(--color-accent2);
    color:var(--color-text);
    border-style:outset;
    border-color:black;
    border-width:2px;
}
.info-round-modal::backdrop, .info-this-round-modal::backdrop, #about-modal::backdrop {
    background: rgb(0 0 0 / .3);
}
/*.info-round-modal {}   TODO maybe change border? */
.info-this-round-modal {
    background: var(--color-accent);
    border-color: var(--color-accent2);
    border-width: 5px;
    border-style:outset;
}
.small-loss {
    background: rgb(0 0 0 / .5);
    background: hsl(120, 100%, 16%);
}
.big-loss {
    background: rgb(0 0 0 / .9);
    background: hsl(30, 100%, 16%);
}
.info-round-table table, th, td {
    text-align: right;
    border: 1px solid var(--color-text);
    border-collapse: collapse;
    padding: 0.4rem;
    background: var(--color-accent);
}
.info-this-round-table table, th, td {
    text-align: right;
    border: 1px solid var(--color-text);
    border-collapse: collapse;
    padding: 0.4rem;
    background: var(--color-accent2);
}
.info-round-table tr:hover td {
    background:var(--color-hover);
}
.info-round-close {
    margin: 0.5rem;
}

.controls > *:hover {
    background:var(--color-hover);
}
button:hover {
    background:var(--color-hover);
}
#mortal-file-div {
    grid-column: span 2;
    display:flex;
    border-style:outset;
}
.killer-call-div {
    display:grid;
}
.killer-call-bars {
    background: var(--color-accent3);
    padding: 10px;
    margin: auto;
}
.killer-call-img {
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .outer {
        flex-direction: column;
        align-items: center;
    }
    .controls > * {
        margin:12px;
        padding-left:12px;
        padding-right:12px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size:larger;
    }
}
