:root{
    --main-width: 750px;
    --main-height: 800px;
    --neg-margin: -10px;
 
    /* blue-green, accents go darker */
    --color-main:   hsl(190, 100%, 27%);
    --color-accent: hsl(190, 100%, 19%);
    --color-accent2: hsl(190, 100%, 13%);
    --color-accent3: hsl(190, 100%, 16%);
    --color-text:    hsl(190, 58%, 70%);
    /* Analagous to main: -> green-yellow -> yellow */
    --color-bar-mortal: hsl(120, 81%, 34%);
    --color-bar-hero: hsl(70, 72%, 48%);
    /* Discard background */
    --color-tsumogiri: hsl(30, 11%, 78%);
}
body, .info-round-modal, .info-round-close, .info-this-round-modal, #about-modal {
    font-family: sans-serif;
    max-width: 1100px;
    margin: auto;
    color: var(--color-text);
    line-height: 1.5;
    background: var(--color-main);
}
a {
    color: var(--color-text);
}
#about-modal {
    background: var(--color-accent2);
}
h1{
    background: var(--color-accent);
    text-align: center;
}
.outer {
    display:flex;
    justify-content: space-around;
}
.grid-main{
    display: grid;
    width: var(--main-width);
    height: var(--main-height);
    grid-template-columns: 95px 165px 230px 165px 95px;
    grid-template-rows: 95px 165px 230px 165px 145px;
    grid-template-areas: "ah-p3 ah-p2 ah-p2   ah-p2 ah-p2"
                         "ah-p3 .     ad-p2   .     ah-p1"
                         "ah-p3 ad-p3 a-info  ad-p1 ah-p1"
                         "ah-p3 .     ad-p0   .     ah-p1"
                         "ah-p0 ah-p0 ah-p0   ah-p0 ah-p1";
}
.grid-hand-p3{
    grid-area: ah-p3;
    writing-mode: vertical-rl;
    background: var(--color-accent);
    padding-right: 40px;
    padding-top: 10px;
}
.grid-hand-p2{
    grid-area: ah-p2;
    transform: rotate(180deg);
    background: var(--color-accent);
    padding-top: 30px;
    padding-left: 10px;
}
.grid-hand-p1{
    grid-area: ah-p1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background: var(--color-accent);
    padding-right: 40px;
    padding-top: 10px;
}
.grid-hand-p0-container{
    grid-area: ah-p0;
    background: var(--color-accent);
    padding-top: 20px;
}
.grid-hand-p0{
    padding-left: 10px;
}
.grid-discard{
    line-height: 0;
    margin:5px;
}
.grid-discard-p3 {
    grid-area: ad-p3;
    writing-mode: vertical-rl;
    margin-right:0px;
}
.grid-discard-p1 > * {
    margin-left:10px;
}
.grid-discard-p3 > * {
    margin-left:10px;
}
.grid-discard-p2 {
    grid-area: ad-p2;
    transform: rotate(180deg);
    margin-bottom:0px;
}
.grid-discard-p1 {
    grid-area: ad-p1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left:0px;
}
.grid-discard-p0 {
    grid-area: ad-p0;
    margin-top:0px;
}
.grid-info {
    grid-area: a-info;
    display: grid;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    grid-template-columns: 30px 5px 130px 5px 30px;
    grid-template-rows: repeat(5, 40px);
    grid-template-areas:
      "ai-p3 ai-p2 ai-p2   ai-p2 ai-p2"
      "ai-p3 .    ai-round   .     ai-p1"
      "ai-p3 .    ai-sticks  .     ai-p1"
      "ai-p3 .    ai-doras   .     ai-p1"
      "ai-p0 ai-p0 ai-p0   ai-p0 ai-p1";
    background: var(--color-accent);
}
.info-round {
    grid-area: ai-round;
}
.info-sticks {
    grid-area: ai-sticks;
}
.info-doras {
    grid-area: ai-doras;
}
.gi-p0-outer, .gi-p1-outer, .gi-p2-outer, .gi-p3-outer {
    display: flex;
    justify-content: space-between;
}
.gi-p0-outer {
    grid-area: ai-p0;
    margin: auto 10px;
}
.gi-p1-outer {
    grid-area: ai-p1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 10px auto;
}
.gi-p2-outer {
    grid-area: ai-p2;
    transform: rotate(180deg);
    margin: auto 10px;
}
.gi-p3-outer {
    grid-area: ai-p3;
    writing-mode: vertical-rl;
    margin: 10px auto;
}
.rotate > img {
    transform: rotate(90deg);
    /* Adjust so these rotated tiles are next to each other */
    margin-bottom: var(--neg-margin);
}
.grid-hand > img {
    width:30px;
}
.grid-discard > img {
    width:30px;
}
.discard-bars {
    display: grid;
    grid-template-columns: 1fr;
    height:62px;
}
.controls {
    display:grid;
    grid-template-columns: repeat(2, 120px);
    margin:10px auto;
    width:240px;
    padding:10px;
    background:var(--color-accent);
}
.controls > * {
    margin:2px;
    padding:12px;
    background: var(--color-accent2);
    color:var(--color-text);
    border-style:outset;
    border-color:black;
    border-width:2px;
}

.info-round {
    background: var(--color-accent2);
    color:var(--color-text);
    border-style:outset;
    border-color:black;
    border-width:2px;
}
.info-round-modal::backdrop, .info-this-round-modal::backdrop, #about-modal::backdrop {
    background: rgb(0 0 0 / .3);
}
/*.info-round-modal {}   TODO maybe change border? */
.info-this-round-modal {
    background: var(--color-accent);
    border-color: var(--color-accent2);
    border-width: 5px;
    border-style:outset;
}
.big-loss {
    background: rgb(0 0 0 / .6);
}
.small-loss {
    background: rgb(0 0 0 / .3);
}
.info-round-table table, th, td {
    text-align: right;
    border: 1px solid var(--color-text);
    border-collapse: collapse;
    padding: 0.4rem;
    background: var(--color-accent);
}
.info-this-round-table table, th, td {
    text-align: right;
    border: 1px solid var(--color-text);
    border-collapse: collapse;
    padding: 0.4rem;
    background: var(--color-accent2);
}
.info-round-table tr:hover td {
    background:rgba(0, 0, 0, 0.7);
}
.info-round-close {
    margin: 0.5rem;
}

.controls > *:hover {
    background:rgba(0, 0, 0, 0.7);
}
button:hover {
    background:rgba(0, 0, 0, 0.7);
}
#mortal-file-div {
    grid-column: span 2;
    display:flex;
}
.killer-call-div {
    display:grid;
    margin:20px auto;
}
.killer-call-bars {
    width: 200px;
    height: 105px;
    background: var(--color-accent3);
    padding: 10px;
    margin: auto;
}
.killer-call-img {
    width: auto;
    margin: auto;
    margin-top: 20px;
}
